In [1]:
import pandas as pd

# Load datasets
customers = pd.read_csv("Data\customers.csv")
products = pd.read_csv("Data\products.csv")
ratings = pd.read_csv("Data\ratings.csv")
orders = pd.read_csv("Data\orders.csv")

# Convert 'order_date' column to datetime format
orders['order_date'] = pd.to_datetime(orders['order_date'])

# Merge datasets
merged_data = orders.merge(products, on='product_id').merge(customers, on='customer_id')

In [2]:
merged_data

,order_id,customer_id,product_id,order_date,quantity,product_name,price,category,name
0,1,66,38,2023-08-09 08:39:23.971834,4,Bekant Conference Table,441,Tables & Desks,Customer_66
1,429,66,38,2023-09-10 08:39:23.971834,3,Bekant Conference Table,441,Tables & Desks,Customer_66
2,101,66,47,2023-08-26 08:39:23.971834,1,Nymö Lamp Shade,157,Lighting,Customer_66
3,563,66,26,2023-09-02 08:39:23.971834,2,Docksta Table,859,Tables & Desks,Customer_66
4,540,66,11,2023-08-18 08:39:23.971834,2,Billy Bookcase,287,Storage Solutions,Customer_66
...,...,...,...,...,...,...,...,...,...
995,697,83,22,2023-08-22 08:39:23.971834,3,Nordli Chest Drawers,561,Decor,Customer_83
996,193,38,19,2023-09-15 08:39:23.971834,4,Ribba Frame,324,Decor,Customer_38
997,911,38,32,2023-08-06 08:39:23.971834,1,Kivik Chaise,926,Sofas & Armchairs,Customer_38
998,738,38,6,2023-09-08 08:39:23.971834,4,Brimnes Bed Storage,773,Beds,Customer_38
999,747,38,4,2023-09-09 08:39:23.971834,3,Malm Bed Frame,202,Beds,Customer_38

In [3]:
# Calculate total revenue and units sold for each product
product_performance = merged_data.groupby('product_name').agg({
    'price': 'sum',  # this will give us the revenue
    'quantity': 'sum'  # this will give us the total units sold
}).reset_index()

# Sort by revenue and units sold to get top products
top_products_revenue = product_performance.sort_values(by='price', ascending=False)
top_products_units = product_performance.sort_values(by='quantity', ascending=False)

In [4]:
top_products_revenue

               product_name  price  quantity
5       Brimnes Bed Storage  23190        77
41         Småstad Wardrobe  20874        52
37             Råskog Stool  20520        59
9               Fredde Desk  18854        46
8        Fjälla Storage Box  18734        44
3            Bestå TV Bench  18400        46
27             Nockeby Sofa  18101        58
6             Docksta Table  18039        54
14             Ivar Cabinet  17862        55
12            Hemnes Daybed  16900        53
36     Rugveda Coffee Table  16065        46
49       Valje Wall Cabinet  16056        60
47      Terje Folding Chair  15466        44
15     Kallax Shelving Unit  15393        51
22    Mackapar Shoe Storage  15114        80
7               Ektorp Sofa  14574        59
18          Koppang Dresser  14535        48
30        Pjatteryd Picture  14300        41
21         Lommarp Bookcase  13760        41
31           Poäng Armchair  13656        63
19          Lack Side Table  13623        39
28     Nordli Chest Drawers  12342        59
10         Gronlid Armchair  12223        43
17         Klippan Loveseat  12141        52
1   Bekant Conference Table  11907        62
45   Söderhamn Sofa Section  11691        63
38   Sinnerlig Pendant Lamp  11590        52
33           Raskog Trolley  10696        35
11         Hektar Work Lamp  10491        32
24    Melltorp Dining Table  10332        62
34       Rens Sheepskin Rug   9760        38
16             Kivik Chaise   9260        22
32              Ranarp Lamp   9158        44
13         Ingolf Bar Stool   9135        39
40      Skurup Ceiling Lamp   7308        49
46         Tarva Nightstand   7111        33
42         Stockholm Mirror   6448        34
4            Billy Bookcase   5453        40
26         Mörbylånga Table   5364        50
35              Ribba Frame   5184        37
23           Malm Bed Frame   4848        46
0          Askvoll Wardrobe   3864        50
39      Sjöpenna Floor Lamp   3366        48
29          Nymö Lamp Shade   3297        46
20            Lerhamn Chair   2375        41
48        Tingby Side Table   2071        48
43     Strandmon Wing Chair   2050        61
44           Stuva Loft Bed   1455        32
2            Bernhard Chair   1280        36
25               Micke Desk    304        43

In [5]:
top_products_units

               product_name  price  quantity
22    Mackapar Shoe Storage  15114        80
5       Brimnes Bed Storage  23190        77
31           Poäng Armchair  13656        63
45   Söderhamn Sofa Section  11691        63
1   Bekant Conference Table  11907        62
24    Melltorp Dining Table  10332        62
43     Strandmon Wing Chair   2050        61
49       Valje Wall Cabinet  16056        60
7               Ektorp Sofa  14574        59
37             Råskog Stool  20520        59
28     Nordli Chest Drawers  12342        59
27             Nockeby Sofa  18101        58
14             Ivar Cabinet  17862        55
6             Docksta Table  18039        54
12            Hemnes Daybed  16900        53
38   Sinnerlig Pendant Lamp  11590        52
41         Småstad Wardrobe  20874        52
17         Klippan Loveseat  12141        52
15     Kallax Shelving Unit  15393        51
26         Mörbylånga Table   5364        50
0          Askvoll Wardrobe   3864        50
40      Skurup Ceiling Lamp   7308        49
48        Tingby Side Table   2071        48
18          Koppang Dresser  14535        48
39      Sjöpenna Floor Lamp   3366        48
36     Rugveda Coffee Table  16065        46
23           Malm Bed Frame   4848        46
3            Bestå TV Bench  18400        46
29          Nymö Lamp Shade   3297        46
9               Fredde Desk  18854        46
47      Terje Folding Chair  15466        44
32              Ranarp Lamp   9158        44
8        Fjälla Storage Box  18734        44
25               Micke Desk    304        43
10         Gronlid Armchair  12223        43
21         Lommarp Bookcase  13760        41
20            Lerhamn Chair   2375        41
30        Pjatteryd Picture  14300        41
4            Billy Bookcase   5453        40
13         Ingolf Bar Stool   9135        39
19          Lack Side Table  13623        39
34       Rens Sheepskin Rug   9760        38
35              Ribba Frame   5184        37
2            Bernhard Chair   1280        36
33           Raskog Trolley  10696        35
42         Stockholm Mirror   6448        34
46         Tarva Nightstand   7111        33
11         Hektar Work Lamp  10491        32
44           Stuva Loft Bed   1455        32
16             Kivik Chaise   9260        22

In [6]:
# Filter orders for the last month
last_month = merged_data[merged_data['order_date'].dt.month == merged_data['order_date'].dt.month.max()]

# Calculate total purchase amount for each customer in the last month
top_clients_last_month = last_month.groupby('name').agg({
    'price': 'sum'
}).reset_index()

# Sort to get top clients
top_clients_last_month = top_clients_last_month.sort_values(by='price', ascending=False)

In [7]:
top_clients_last_month

           name  price
0    Customer_1   5466
26  Customer_33   4476
38  Customer_44   4259
46  Customer_52   4236
71  Customer_76   3981
..          ...    ...
78  Customer_82    187
3   Customer_11    184
4   Customer_12    176
56  Customer_61    157
76  Customer_80     97

[96 rows x 2 columns]

### RFM Analysis

In [8]:
import pandas as pd
import datetime as dt

# Calculate the maximum order date to use as a reference
latest_date = merged_data['order_date'].max() + dt.timedelta(days=1)

# Calculate RFM values
rfm = merged_data.groupby('customer_id').agg({
    'order_date': lambda x: (latest_date - x.max()).days, # Recency: days since last order
    'order_id': 'count',  # Frequency: number of orders
    'price': 'sum'  # Monetary: total money spent
}).rename(columns={
    'order_date': 'recency',
    'order_id': 'frequency',
    'price': 'monetary'
})

# Assign scores from 1 to 5 for each metric
rfm['recency_score'] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1]) # Higher score for lower recency
rfm['frequency_score'] = pd.qcut(rfm['frequency'], 5, labels=[1, 2, 3, 4, 5])
rfm['monetary_score'] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

# Combine scores
rfm['rfm_score'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str) + rfm['monetary_score'].astype(str)

# Display top customers
rfm_sorted = rfm.sort_values(by=['rfm_score'], ascending=False)

In [9]:
rfm_sorted

,recency,frequency,monetary,recency_score,frequency_score,monetary_score,rfm_score
customer_id,,,,,,,
1,1,18,12106,5,5,5,555
29,1,14,9225,5,5,5,555
52,1,16,8862,5,5,5,555
47,2,14,7385,5,5,5,555
33,2,15,8769,5,5,5,555
...,...,...,...,...,...,...,...
87,21,7,3502,1,1,1,111
79,16,3,2029,1,1,1,111
46,29,4,2488,1,1,1,111
13,12,6,3657,1,1,1,111
58,15,5,2324,1,1,1,111

In [10]:
# Task 1: Top Reviewed Products
top_reviewed_products = ratings.groupby('product_id').size().reset_index(name='num_reviews')
top_reviewed_products = top_reviewed_products.merge(products, on='product_id')  # Add product names for better clarity
top_reviewed_products = top_reviewed_products.sort_values(by='num_reviews', ascending=False)

# Task 2: Average Number of Reviews per Customer
reviews_per_customer = ratings.groupby('customer_id').size()
avg_reviews_per_customer = reviews_per_customer.mean()

print(top_reviewed_products.head())  # Display top 5 reviewed products
print("Average number of reviews per customer:", avg_reviews_per_customer)

    product_id  num_reviews             product_name  price           category
11          12           16           Raskog Trolley    764  Storage Solutions
37          38           14  Bekant Conference Table    441     Tables & Desks
6            7           13          Lack Side Table    717     Tables & Desks
30          31           12             Nockeby Sofa    787  Sofas & Armchairs
44          45           11         Hektar Work Lamp    807           Lighting
Average number of reviews per customer: 4.040404040404041

In [11]:
# Group by product_id, count reviews and compute average rating
product_reviews = ratings.groupby('product_id').agg({
    'rating': ['count', 'mean']
}).reset_index()

# Flatten the column headers for easier reference
product_reviews.columns = ['product_id', 'num_reviews', 'avg_rating']

# Merge with the products DataFrame to get product names
product_reviews = product_reviews.merge(products, on='product_id')

# Sort by number of reviews
top_reviewed_with_avg_rating = product_reviews.sort_values(by='avg_rating', ascending=False)

print(top_reviewed_with_avg_rating.head())  # Display top 5 reviewed products with average ratings

    product_id  num_reviews  avg_rating          product_name  price category
24          25            2    4.500000    Rens Sheepskin Rug    610    Decor
19          20            6    4.166667     Pjatteryd Picture    715    Decor
3            4           10    3.900000        Malm Bed Frame    202     Beds
43          44            7    3.857143       Koppang Dresser    765    Decor
21          22            5    3.800000  Nordli Chest Drawers    561    Decor

In [12]:
reviews_per_customer

customer_id
1      4
2      2
3      4
4      7
5      2
      ..
96     4
97     2
98     5
99     4
100    5
Length: 99, dtype: int64

In [13]:
# Assuming the merged_data and ratings DataFrames from previous contexts are available

# Calculate total amount spent by each customer
total_spent = merged_data.groupby('customer_id').apply(lambda x: (x['quantity'] * x['price']).sum()).reset_index(name='total_spent')

# Calculate last purchase date for each customer
last_purchase = merged_data.groupby('customer_id')['order_date'].max().reset_index(name='last_purchase_date')

# Calculate number of reviews left by each customer
num_reviews = ratings.groupby('customer_id').size().reset_index(name='num_reviews')

# Merge these aggregations back to the customers DataFrame
customers_updated = customers.merge(total_spent, on='customer_id', how='left')\
                             .merge(last_purchase, on='customer_id', how='left')\
                             .merge(num_reviews, on='customer_id', how='left')

# Fill NaN values with appropriate defaults
customers_updated['total_spent'] = customers_updated['total_spent'].fillna(0)
customers_updated['num_reviews'] = customers_updated['num_reviews'].fillna(0)

print(customers_updated.head())  # Display the updated customer table

   customer_id        name  total_spent         last_purchase_date  \
0            1  Customer_1        27081 2023-09-17 08:39:23.971834
1            2  Customer_2         9347 2023-09-15 08:39:23.971834
2            3  Customer_3        18077 2023-09-13 08:39:23.971834
3            4  Customer_4        25717 2023-09-14 08:39:23.971834
4            5  Customer_5        14913 2023-09-09 08:39:23.971834

   num_reviews
0          4.0
1          2.0
2          4.0
3          7.0
4          2.0